body {
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.bg-1 {
    background-color: #23232e;
    padding: 20px 20%;
    text-align: center;
    overflow: hidden;
    color: white;
}

.bg-2 {
    background-image: url(./images/back.png);
    padding: 20px 20%;
    text-align: center;
    overflow: hidden;
    color: #464b4f;
}

.header img {
    width: 10%;
    padding: 20px 0 50px 0;
}

.header p {
    font-size: 14px;
    padding-bottom: 90px;
    line-height: 20px;
}

.header a {
    font-size: 13px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px 7px;
}

/* what-i-do area */
.what-i-do .txt {
    font-size: 25px;
    padding: 0 50px;
}

.col {
    width: 29.33%;
    margin: 2%;
    float: left;
}

.what-i-do .col {
    text-align: left;
}

.what-i-do .col h4 {
    text-transform: uppercase;
    margin: 10px 0;
}

.what-i-do .col p {
    font-size: 12px;
}

/* my work area */
.my-work .menu {
    margin-left: 150px;
}

.my-work .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.my-work .menu ul li {
    float: left;
    padding: 0 20px;
}

.my-work .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-bottom: 3px;
}

.my-work .menu ul li a:hover {
    border-bottom: 2px solid #7b77c9;
}

.my-work .col img {
    width: 100%;
}

.btn {
    border: none;
    background-color: #7b77c9;
    padding: 13px 20px;
    color: white;
    border-radius: 3px;
}

/* photography section */
.photography .txt {
    font-size: 25px;
    padding: 0 50px;
}

.photography .col img {
    width: 100%;
}

/* subscribe section start */
.subscribe {
    padding-bottom: 200px;
}

.font-size-infinity {
    font-size: 50px;
    margin-top: 150px;
}

.subscribe-paragraph-margin {
    margin-top: 20px;
}

.input-field-style {
    padding: 11px;
    width: 30%;
    margin-top: 10px;

}

/* footer part section */
.footer-section {
    padding: 50px;
}

.all-icons .icon-margin {
    padding: 30px;
    font-size: 30px;
    margin-right: 10px;
}

@media all and (max-width: 750px) {


    .what-i-do .txt {
        padding: 0;
    }

    .photography .txt {
        padding: 0;
    }

    .bg1,
    .bg-2 {
        padding: 10px 10%;

    }

    .col {
        float: none;
        width: 100%;
    }

    .col h4 {
        text-align: center;
    }

    .my-work .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 8px;
        padding-bottom: 3px;

        margin-right: 60px;
    }

    .my-work .menu ul li a:hover {
        border-bottom: 1px solid #7b77c9;


    }
}